.boxed-content {
	padding: 13px 0px 30px 60px;
	border: ridge;
}

.contactdiv {
	padding: 28px 60px 0px 60px;
}

.page-heading {
	background: #2e1b90;
	padding: 10px 0px 10px 0px;
	color : white
}

#navbarstudent {
	padding: 20px 14px 0px 5px;
	background: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* .blog-scroll{
   
    width: 100%;
    display: inline-block;
    background: #54ec8157;
    padding: 24px 0px 24px 15px;
    
   } */
.slider {
	width: 91%;
	margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-prev:before, .slick-next:before {
	background: white;
	padding: 5px 5px 5px 5px;
	color: #060606;
	font-size: medium;
}

}
.slick-slide {
	transition: all ease-in-out .3s;
}

.border {
	padding: 15px 45px 10px 45px;
    border: ridge;
}

.border-ridge {
	border: ridge;
	background: #d8d8d2;
}

.blog-border {
	width: 100%;
	display: inline-block;
	/* border: ridge; */
	border: 1px solid;
	border-color: #dfe4e4;
	/* color: azure; */
	padding: 25px 0px 25px 38px;
	box-shadow: 0 0 20px rgba(119, 117, 117, 0.25);
	background: #fcfcfd;
}

.submenu {
	padding: 0px 0px 0px 25px;
}

.header-border {
	background: #2e1b90;
	padding: 8px 0px 8px 0px;
	border-radius: 5px;
	color : white;
	/* box-shadow: inset -13px 7px 28px 0px rgba(154, 214, 151, 0.57); */
}

.subject-div {
	padding: 16px 32px 43px 51px;
	border: 1px solid;
	background: #eae8e8;
	box-shadow: aqua;
	color: #dad8d8;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sub-div-pad {
	padding: 0px 13px 30px 13px;
}

.course-div {
	background: white;
	padding: 6px 6px 28px 6px;
	/* color: #75a2a2; */
	border-color: #111313;
	box-shadow: 0 0 45px rgba(84, 76, 76, 0.34);
}

.blog-pad {
	padding: 0px 0px 17px 17px;
}

.blog-category {
	background: white;
	box-shadow: 0 0 28px rgba(0, 0, 0, 0.1);
	padding: 0px 0px 7px 20px;
}

.index {
	background: #e0e1e2;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	padding: 22px 0px 0px 0px;
}

.highlight:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  padding: 164px 0px 0px 0px;
    left: -12px;
    background-image: none;
    /* background: none repeat scroll 0 0 #222222; */
    border: 0px solid #FFFFFF;
    /* border-radius: 13px 16px 23px 23px; */
    height: 40px;
    width: 29px;
    margin-top: 30px;
    color: black;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
 padding: 164px 0px 0px 0px;
    right: -12px !important;
    background-image: none;
    /* background: none repeat scroll 0 0 #222222; */
    border: 0px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px;
    color: black;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.carousels .items {
    height: 400px;
     background-color: #2e1b9030; 
}
/* End carousel */


